html {
    overflow: auto;
}

.songs{
	background-color: #e0e0e0;
    width: 50%;
    margin: auto;
}

.chart{
	background-color: #e0e0e0;
	height: 300px;
    width: 95%;
    margin: auto;
}

.header {
    height: 70px;
    width: 100%;
    position: fixed;
    background-color: #252525;
    box-shadow: 0px 2px 8px #000000;
    color: #FFF;
    font-size: 25px;
    z-index: 10000;
}

.links {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-left: 5%;
    float: left;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
}

.markerLink {
    height: 70px;
    width: 100%;
}

.alinha {
    line-height: 70px;
}

a {
    color: #FFF;
}

a:visited {
    color: #FFF;
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    background-color: #F5F5F5;
}
 
::-webkit-scrollbar-thumb {
    background: #252525; 
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #252525; 
}

.link-1 {
    transition: 0.3s ease;
    background: #252525;
    text-decoration: none;
    border-bottom: 4px solid #252525;
    padding: 20px 0;
    margin: 0 20px;
  }
  .link-1:hover {
    border-bottom: 4px solid #ffffff;
    padding: 6px 0; 
  }
